@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.month {
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    width: auto;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.events {
    position: absolute;
    top:0;
   
    height:100%;
    width:100%;
    z-index:8;
    left:0;
}

.events--green {
    background:green;
}

.events--red {
    background:red;
}

.default-settings {
    padding: 10px 15px;
    color: white;
    display: block;
    border-radius: 4px;
    width: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.default-settings--available {
    background-color: green;
}

.default-settings--not-available {
    background-color: red;
}