@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.month {
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    width: auto;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.events {
    position: absolute;
    top:0;
    background:red;
    height:100%;
    width:100%;
    z-index:8;
    left:0;
}